xmldemo/src/main/resources/catalog-ns.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://training360.com/schemas/catalog" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog" type="cat:catalogType" xmlns:cat="http://training360.com/schemas/catalog">
    <xs:annotation>
      <xs:documentation>Catalog of books</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="bookType">
    <xs:sequence>
      <xs:element type="xs:string" name="title"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="isbn10"/>
  </xs:complexType>
  <xs:complexType name="catalogType">
    <xs:sequence>
      <xs:element type="cat:bookType" name="book" xmlns:cat="http://training360.com/schemas/catalog" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>